.option-flex{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    margin : 0% 15% 0% 15%;
}
.option-text{

    width: 100%;
}

.optionButton{
    cursor : none !important;

    
}
.optionRadio{
    cursor: pointer;
}